/* home ********************************************/
/* max 1400 */
body{font-family:regular;}
@media screen and (max-width:1399px){
    /* section two */
    .hm_section_two {margin-top: 32px;}
    .hm_section_four_two_bx> div{margin-top: -90px;}

    /* section six */
    .hm_section_six h2{font-size:45px;}
    .hm_ts{max-width: 300px !important;}
    .ts_vid_holder{padding:0px 32px;}
    .ts_vid_holder> video{width:100%;}
    .ts_vid_holder> span{font-size: 14px;}

    /* section seven */
    .hm_section_seven> div> div> a{margin-left: 134px !important;}
}

/* max 1200 */
@media screen and (max-width:1199px){

    /* section one */
    .hm_section_one_holder h2 {font-size: 85px; line-height: 90px;}
    .hm_section_one_holder p{width: 612px;}
    
    /* section four */
    .frm> .hm_section_four_two_bx> h2{font-size: 32px !important;}
    .hm_section_four_two_bx> div{margin-top: -25px;}

    .hm_section_four_one> div:nth-child(2) h3{font-size: 72px; line-height: 65px;}
    .hm_section_four_two_bx> h2{font-size: 24px;}
    /* section five */
    /* section six */
    .hm_section_six h2{font-size:45px;}
    .hm_ts{max-width: 300px;}
    /* section seven */
    .ft_tp_line img{margin-top: -135px !important;}

    .hm_section_seven h2{font-size: 70px !important; max-width: 437px !important;}
    .hm_section_seven> div> div> span {max-width: 405px !important;}
    
    .hm_section_seven> div> div> a{margin-left: 120px !important;}

}

/* max 992 *******************************************************************************************/
@media screen and (max-width:991px){

    /* section one */
    .hm_section_one_holder h2{font-size: 55px; line-height: 58px;}
    /* .hm_one_animate{top: 227px;} */

    /* section four */
    .hm_section_four_one{margin-bottom: 32px;}
    .hm_section_four_two{padding:0px !important;}

    /* section five */
    .hm_section_five{padding-bottom: 240px;}
    .hm_section_five h2{font-size: 55px;}

    /* section seven */
    .hm_section_seven h2{font-size: 70px !important;}
    .ft_tp_line img{margin-top: -135px !important;}
    .hm_section_seven> div> div> a{margin-left: 134px !important;}
    .hm_section_seven> div> div> a{margin-left: 150px !important;}
    
}

/* max 768 *******************************************************************************************/
@media screen and (max-width:767px){
    
    /* section one */
    .hm_section_one_holder h2 { font-size: 42px;line-height: 51px;}
    .hm_section_one_holder p{padding-left:0; width:100%;}

    /* section three */
    .hm_section_three_holder h2 {font-size: 40px;}

    /* section five */
    .hm_section_five h2 {font-size: 36px;}
    .hm_ct_main h3{font-size: 34px;}
    .hm_ct_main p{font-size: 17px; line-height: 20px;}

    /* section six */
    .ts_vid_holder{max-width: 490px !important; margin:auto !important; margin-top:28px !important;}
    .hm_ts{margin-top: 50px;}
    .hm_ts_slider .owl-nav{padding-left: 25px;}

    /* section seven */
    .hm_section_seven h2{font-size: 65px !important; max-width: 405px !important;}
    .hm_section_seven> div> div> a{max-width: 117px !important;}
    .hm_section_seven> div> div> a{margin-left: 64px !important; max-width: 227px !important;}

    /* footer */
    .ft_tp_line img {margin-top: -50px !important;}
    .ft{padding: 0px 15px !important;}
}

/* max 576 *******************************************************************************************/
@media screen and (max-width:575px){

    /* section one */
    .hm_section_one_holder h2 {font-size: 34px; line-height: 36px;}

    /* section four */
    .hm_section_four_two_bx> h2 {font-size: 15px;}
    .hm_section_four_one> div:nth-child(2) h3 {font-size: 45px; line-height: 45px;}

    /* section five */
    .hm_section_five h2 {
        font-size: 26px;
    }
    .hm_section_five> div> div> div:nth-child(2) p{font-size: 14px;}
    .hm_ct_main_holder::after{display:none;}
    .hm_ct_main{flex-direction:column;}
    .hm_ct{padding:15px !important;}
    .hm_section_five {padding-bottom: 43px;}

    /* section six */
    .hm_ts_slider> div{right: 0;}
    .hm_section_six .hm_quotes{max-width:75px;}



    /* section seven */
    .hm_section_seven h2 {font-size: 40px !important; max-width: 276px !important;}
    .hm_section_seven> div> div> span {max-width: 260px !important;}
    .hm_section_seven> div> div> a {margin-left: 0px !important; position: relative; left: 50%; transform: translateX(-50%); margin: 0; max-width: 257px !important; justify-content: left;}
    
    /* footer */
    .ft_info{display: block !important;}
    .ft_info> span:nth-child(2)> ul{width: 100%; justify-content: space-between; padding-left: 0; margin-top: 12px;}
    .ft_info> span:nth-child(2)> ul li{margin-left: 0 !important;}
    
}


/* about *******************************************************************************************/
/* max 1400 */
@media screen and (max-width:1400px){
    .ab_section_two> div> div:nth-child(1){margin-right:200px;}
}

/* max 1200 */
@media screen and (max-width:1200px){
    .about_head h2{font-size:62px;}
    
}

@media screen and (max-width:992px){
    .ab_section_two h2{font-size: 62px;}
}

/* max 768 */
@media screen and (max-width:768px){
    .about_head h2 {font-size: 45px;}
    .about_head p{padding: 0px 25px;}
    .ab_section_two> div> div:nth-child(1){margin-right:0;}
    .ab_section_two> div> div:nth-child(1) br{display:none;}
    .ab_section_two p{max-width:100%;}
}

/* max 576 */
@media screen and (max-width:576px){
    .ab_section_two h2 {font-size: 42px;}
}



/* institute */
@media screen and (max-width:1888px){
    .in_section_one h2{width:450px;}
    .institute_line{width:100%; width: 75%; margin-left:auto;}
    .in_fr_sr_head_ct> .line{max-width: 500px !important;}
}
@media screen and (max-width:1558px){
    .in_section_one> div:nth-child(1){margin-left: -220px;}
    /* .in_fr_sr_head h2 */
}

/* max 1400 */
@media screen and (max-width:1400px){

    .in_section_one> div:nth-child(1) {margin-left: -382px;}
    .in_section_one h2{width: 379px; font-size: 45px;}
    .ct_tp> h4, .ct_bt> h4{font-size:34px;}
    .plus_center{width:137px !important;}
    .one_info{width:125%;}

    .in_fr_four_bx_info> h4{font-size: 40px !important;}
    .in_fr_right{padding-left:32px;}

}

@media screen and (max-width:1024px){
    .in_section_one {margin-top: 135px;}
}

/* max 1200 */
@media screen and (max-width:1200px){
    .in_fr_lf> h2{font-size: 72px;}
    .in_fr_four_bx_info> h4 {font-size: 29px !important;}
    .in_fr_sr_head h2 {font-size: 71px;}
}

@media screen and (max-width:991px){
    .in_fr_four_bx_info> h4 {font-size: 18px !important;}

    .explore> img{width: 21px;}
    .explore{padding: 5px; padding-top: 1px;}
    .in_fr_four_bx_info> a> span> p{left: -2px !important;}

    .input_holder_flex button{width: 80px; height: 80px; padding: 10px;}
    .ins_form .input_holder span{font-size: 12px;}

    .in_fr_lf> h2 {font-size: 50px; width:255px;}
    .in_fr_right {max-width: 854px;}
    .in_fr_sr_head h2 {font-size: 40px;}
    .in_fr_sr_head_ct> p {max-width: 478px;}
    .in_fr_sr_head_ct> .line {max-width: 662px !important;}
    .in_fr_sr_head_ct> .line {max-width: 550px !important;}

}

/* max 768 */
@media screen and (max-width:768px){

    .institue_bg {margin-top: 55px;}

    .one_info {width: 175%; top: 162px; left: 55px;}
    .in_section_one h2 {width: 269px !important; font-size: 31px !important;}

    .institute_line{width: 100% !important; display:none;}
    .in_section_one> div{display:block; margin-left:0 !important; width:100% !important;}
    .in_section_one> div> div:nth-child(1){width: 100%; padding-left:0 !important;}
    .in_section_one> div> div:nth-child(1)> h2{width: 100% !important;}
    .in_section_one> div> div:nth-child(2){display:none;}
    .one_info{position:static; width: 100%;}

    .in_fr_sr_head_ct> .line {max-width: 372px !important;}

    .in_fr_sr_head h2 {font-size: 32px;}

    .sr_three_bx_ct_main_reverse{flex-direction: column-reverse;}
    .sr_three_bx_ct_main{margin-top:32px !important;}
}

/* max 576 */
@media screen and (max-width:576px){
    .in_form h2{padding-left: 22px !important; font-size: 55px;}
    .dv {max-width: 175px;}

    .in_fr_right{display: block;}
    .in_fr_right {max-width: 100%;}
    .in_fr_lf> h2{width:100%; font-size:35px;}
    .in_fr_lf> h2> span {display: inline-block;}
    .in_fr_rg_deviver{max-width: 204px;margin-left: auto;}
    .in_fr_sr_head_ct> .line {max-width: 155px !important;}
    .in_fr_four_bx {padding: 28px;}

    .in_check{margin-top:32px !important;}

    .in_counter p {font-size: 11px;}

    .ct_tp> h4, .ct_bt> h4 {font-size: 29px;}
}